/.bundle/
/coverage
/doc/yardoc/
/Gemfile.lock
/.idea
/.project
/log/*.log
/spec/dummy/.bundle/
/spec/dummy/coverage
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/doc/yardoc/
/spec/dummy/log/*.log
/spec/dummy/tmp/
/spec/dummy/.sass-cache
/spec/dummy/vendor/bundle
/tmp
/vendor/bundle
/.yardoc
